body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:#e8f0fe;
}

.container{
    width:350px;
    margin:80px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
    text-align:center;
}

input, select, textarea{
    width:90%;
    padding:10px;
    margin:10px 0;
    border:1px solid gray;
    border-radius:5px;
}

button{
    padding:10px 20px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

table{
    width:90%;
    margin:auto;
    border-collapse:collapse;
    background:white;
}

th, td{
    border:1px solid gray;
    padding:10px;
    text-align:center;
}

.dialog{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px black;
    display:none;
}

.profile-box{

    width:550px;

    margin:30px auto;

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}

.profile-box h2{

    text-align:center;

    color:#2563eb;

    margin-bottom:20px;

}

.profile-item{

    margin-bottom:15px;

}

.profile-item label{

    display:block;

    margin-bottom:5px;

    font-weight:bold;

    color:#444;

}

.profile-item input{

    width:100%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    background:#f8f9fa;

}